{erl_opts, [debug_info]}.

{project_plugins, [
    {erlfmt, "1.7.0"},
    rebar3_auto
]}.

{deps, [
    {purl, {git, "git@github.com:erlef/purl.git", {tag, "v0.3.0"}}}
]}.

{profiles, [
    {test, [
        {deps, [
            %% Add rebar as a dependency to get ELP less confused
            {rebar,
                {git_subdir, "git@github.com:erlang/rebar3.git", {branch, "main"}, "apps/rebar"}}
        ]}
    ]}
]}.
